{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div id="body-content-container" class="container">
        <h1>Shopping Cart</h1>
        <hr class="h1-hr">
        {% if cart_items %}
        <div class="row">

            <!-- Individual Product -->
            {% for item in cart_items %}
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="img-fluid rounded" src="{{ item.product.image1.url }}">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <a href="{% url 'product_info' item.item_id %}">
                                <h5 class="product-name">{{ item.product.friendly_name }}</h5>
                            </a>
                            <p><strong>Code: </strong>{{ item.product.sku|upper }}</p>
                            <div class="row div-row">
                                <div class="col-4 col-md-12">
                                    <p><strong>Quantity:</strong></p>
                                </div>

                                <!-- Quantity Input -->
                                <div class="col-8 col-md-12">
                                    <form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}" name="numberForm">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <!-- Decrement -->
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm black-bg white rounded-0" onclick="update_cart()"
                                                        data-item_id="{{ item.item_id }}" data-item_qty_1="{{item.product.qty_1}}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <!-- Input -->
                                                <input class="form-control form-control-sm qty_input" type="number" onkeyup="update_cart()"
                                                    name="quantity" value="{{ item.quantity }}" min="{{ item.qty_1 }}"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <!-- Increment -->
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm black-bg white rounded-0" onclick="update_cart()"
                                                        data-item_id="{{ item.item_id }}" data-item_qty_1="{{item.product.qty_1}}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Update Button -->
                                        <div id="update-btn" class="row m-0 text-center" style="display:none">
                                            <div class="col-sm-12 col-lg-6 mx-auto">
                                                <a class="update-link">
                                                    <button type="submit" class="btn-std btn rounded-0 mt-0">
                                                        Update
                                                        <span>
                                                            <i class="fa fa-refresh"></i>
                                                        </span>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Pricing -->
                            <p><strong>Price*: </strong>€{{ item.price }}</p>
                            {% for product in indiv_product_total %}
                                {% if item.item_id == product.item_id %}
                                    <p><strong>Total*: </strong>€{{ product.product_total }}</p>
                                {% endif %}
                            {% endfor %}

                            <div class="row text-center">
                                <div class="col-sm-12 col-lg-6 mx-auto">
                                <!-- Delete Button -->
                                    <a class="delete-item" id="delete_{{ item.item_id }}">
                                        <button id="delete-item-btn" type="button" class="btn-std btn rounded-0">
                                            Delete
                                            <span>
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="section-hr">
                    </div>
                </div>
            {% endfor %}

            <!-- Pricing & Checkout Section -->
            <div class="col-md-4 col-sm-12">
                <!-- Pricing -->
                <div id="pricing_section" class="text-center">
                    <p><strong>Sub-total*: </strong>€{{ sub_total }}</p>

                    <!-- Delivery -->
                    {% if free_delivery_delta > 0 %}
                        <p><strong>Delivery*: </strong>€{{ delivery }}</p>
                        <p class="red">
                            <small><strong>Want FREE Delivery?</strong></small>
                            <br>
                            <small><strong>Order just €{{ free_delivery_delta }} more!</strong></small>
                        </p>
                    {% else %}
                        <p><strong>Delivery*: </strong>FREE!</p>
                    {% endif %}

                    <!-- Totals & VAT -->
                    <p><strong>Net*: </strong>€{{  net_total  }}</p>
                    <p><strong>VAT: </strong>€{{ vat|floatformat:2 }}</p>

                    <hr class="section-hr">

                    <p id="gross-total"><strong>Gross: €{{ gross_total|floatformat:2 }}</strong></p>
                    
                    <!-- Checkout -->
                    <a href="{% url 'checkout' %}" class="btn rounded-0">
                        <button type="button" class="btn-std btn rounded-0">
                            Checkout
                            <span class="icon">
                                <i class="fas fa-cash-register"></i>
                            </span>
                        </button>
                    </a>

                    <!-- Back Button -->
                    <a href="{% url 'products' %}" class="btn rounded-0">
                        <button type="button" class="btn-std btn rounded-0">
                            
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            Keep Shopping
                        </button>
                    </a>
                </div>
            </div>
            <div class="my-3">
                <p class="ml-3 small">*Prices shown are exlcusive of VAT</p>
            </div>

        {% else %}
            <!-- Empty Cart -->
            <div class="col-12 text-center">
                <p class="lead"> Move along back to the products, nothing to see here!</p>
                <a  href="{% url 'products' %}" class="update-link">
                    <button type="button" class="btn-std btn rounded-0 mx-auto">
                        Keep Shopping
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </button>
                </a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update Item Qty Button
    $('.update-link').click(function(e) {
        var form = $(this).parent().parent().prevAll('.update-form')
        console.log($(this).parent().parent().prevAll('.update-form'))
        console.log("Cart form", form)
        form.submit();
    })

    // Delete Item Button
    $('.delete-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];
        var url = `/cart/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        // Reload the page after deletion
        $.post(url, data)
         .done(function() {
             location.reload();
         })
    })

    // Show "Update" Button if Quantity Changes
    function update_cart() {
        document.getElementById("update-btn").style.display = "block";
    }

</script>

{% endblock %}
