{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div id="body-content-container" class="container">
        <h1 class="text-center mt-1">Shopping Cart</h1>
        <hr class="h1-hr">
        {% if cart_items %}
        <div class="row">

            <!-- Individual Product -->
            {% for item in cart_items %}
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="img-fluid rounded" src="{{ item.product.image1.url }}">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5>{{ item.product.name }}</h5>
                            <p><strong>Code: </strong>{{ item.product.sku|upper }}</p>
                            <p><strong>Quantity: </strong>{{ item.quantity }}   Delete Icon</p>

                            <!-- Quantity Input -->
                            <form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p><strong>Price*: </strong>€{{ item.product.price }}</p>
                            {% for totes in prod_totes %}
                                {% if item.item_id == totes.item_id %}
                                    <p><strong>Total*: </strong>€{{ totes.product_total }}</p>
                                {% endif %}
                            {% endfor %}

                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="delete-item float-right" id="delete_{{ item.item_id }}"><small>Delete</small></a>

                        </div>
                        <hr class="section-hr">
                    </div>
                </div>
            {% endfor %}

            <!-- Pricing & Checkout Section -->
            <div class="col-md-4 col-sm-12">
                <!-- Pricing -->
                <div id="pricing_section">
                    <p><strong>Sub-total*: </strong>€{{ sub_total }}</p>
                    <p><strong>Delivery*: </strong>€{{ delivery }}</p>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 test-danger">
                            You could get free delivery by spending €{{ free_delivery_delta }} more.
                        </p>
                    {% endif %}
                    <p><strong>Net*: </strong>€{{  net_total  }}</p>
                    <p><strong>VAT: </strong>€{{ vat|floatformat:2 }}</p>
                    <hr class="h3-hr">
                    <p><strong>Gross: </strong>€{{ gross_total|floatformat:2 }}</p>
                    
                    <!-- Checkout -->
                    <a href="" class="btn rounded-0 btn-lg">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                    <a href="{% url 'home' %}" class="btn rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            </div>
            <p>*Prices shown are exlcusive of VAT</p>

        {% else %}
            <p class="lead mb-5"> Your cart is empty</p>
            <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update Item Qty Button
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Delete Item Button
    $('.delete-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];
        var url = `/cart/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        // Reload the page after deletion
        $.post(url, data)
         .done(function() {
             location.reload();
         })
    })
</script>

{% endblock %}
