<!-- Watch from 6:59 on Profile App - Part 7  -->

{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div id="body-content-container" class="container">
        <h1>Thank You!</h1>
        <hr class="h1-hr">

        <div class="row">
            <div>
                <p>Your order info is below. A confirmation email has been sent to
                   <strong>{{ order.email }}</strong>.
                </p>
            </div>
        </div>
{% endblock %}
