{% extends "base.html" %}
{% load static %}
{% load bag_tools %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div id="body-content-container" class="container">
        <h1>Checkout</h1>
        <hr class="h1-hr">

        <div class="row">

            <!-- Order Summary -->
            <div class="col-12 col-md-6 order-lg-last mb-5">
                <p class="text-muted">Order Summary ({{ product_count }}) Items</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                <!-- Loop through the items of cart. Enabled due to session -->
                {% for item in cart_items %}
                    <div class="row">
                        <!-- Images -->
                        <div class="col-2 mb-1">
                            <a href="{% url 'product_info' item.product.id %}">
                                <img class="w-100" src="{{ item.product.image1.url }}" alt="{{ product.friendly_name }}">
                            </a>
                        </div>
                        <!-- Product Details -->
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <!-- Sub-total -->
                        <div class="col-3 text-right">
                            <p class="my-0 small text-muted">€{{ item.product_total }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0">
                <!-- Summary Row -->
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0">Sub Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Net Total:</p>
                        <p class="my-0">VAT:</p>
                        <p class="my-0"><strong>Gross Total:</strong></p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">€{{ sub_total | floatformat:2 }}</p>
                        <p class="my-0">€{{ delivery | floatformat:2 }}</p>
                        <p class="my-0">€{{ net_total | floatformat:2 }}</p>
                        <p class="my-0">€{{ vat | floatformat:2 }}</p>
                        <p class="my-0"><strong>€{{ gross_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>

            <!-- The Checkout Form-->
            <div class="col-12 col-md-6">
                <p class=""><strong>Please complete the form to complete your order</strong></p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}

                    <!-- Details -->
                    <fieldset class="rounded active">
                        <legend class="fieldset-label black small w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.company_name | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>

                    <!-- Delivery Address -->
                    <fieldset class="rounded active">
                        <legend class="fieldset-label black small w-auto">Delivery</legend>
                        {{ order_form.department | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}

                        <!-- Allows users to add the details to their profile or sign-up if not already -->
                        <div class="form-check form-check-inline">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>

                    <!-- Payment -->
                    <fieldset class="active">
                        <legend class="fieldset-label black small w-auto">Payment - Test Card 4242 repeated / 4000 0025 0000 3155</legend>
                        <div class="" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="red" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="row submit-button text-center ml-1">
                        <!-- Notification -->
                        <p class="small red my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ gross_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>

                    <!-- Back & Submit -->
                    <div class="row submit-button text-center">   
                        <!-- Submit -->
                        <div class="col-sm-12 col-lg-6 justify-content-center">
                            <button id="submit-button" class="btn-std btn rounded-0 mx-auto">
                                Pay Now
                                <span class="icon">
                                    <i class="fas fa-cash-register"></i>
                                </span>
                            </button>
                        </div>
                        <!-- Back to Cart Button -->              
                        <div class="col-sm-12 col-lg-6 justify-content-center">
                            <a  href="{% url 'view_cart' %}" class="update-link">
                                <button type="button" class="btn-std btn rounded-0 mx-auto">
                                    <span class="icon">
                                        <i class="fas fa-arrow-left"></i>
                                    </span>
                                    Back to Cart
                                </button>
                            </a>
                        </div>
					</div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
