{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

    <div id="body-content-container" class="container">
        <h1>{% trans "Sign Out" %}</h1>
        <hr class="h1-hr">

        <p class="allauth-notif-p">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="col-sm-12 col-lg-6 justify-content-center">
                <button type="submit" class="btn-std btn rounded-0 mx-auto">
                    {% trans 'Sign Out' %}
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>

{% endblock %}
