/* Stripe Components */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: orange;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/*-- Address inputs --*/
.controls input,
.controls #id_country,
#card-element {
    width: 75%;
    margin-bottom: 5px;
}

#payment-form .form-control,
#card-element {
    color: var(--black);
    border: 1px solid var(--black);
}

.h3-hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

select,
select option {
    color: var(--black);
}

select:invalid,
select option[value=""] {
    color: #aab7ca !important;;
}

@media only screen and (max-width: 768px){
    .controls input,
    .controls #id_country,
    #card-element {
        width: 50%;
    }
}
@media only screen and (max-width: 414px){
    .controls input,
    .controls #id_country,
    #card-element {
        width: 100%;
    }
}


/*-- Spinner Start --*/

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 76, 129, 0.651);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}