{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Page Name -->
                <h1 class="text-center mt-1">{{ product.friendly_name }}</h1>
                <hr class="h1-hr">
            </div>
        </div>

        <!-- Product Section -->
        <div class="row">
            <!-- Image -->
            <div class="col-sm-12 col-md-8">
                <a href="{{ product.image1.url }}" target="_blank">
                    <img class="card-img-top img-fluid shadow" src="{{ product.image1.url }}" alt="{{ product.friendly_name }}">
                </a>
            </div>
            <!-- Product Info -->
            <div class="col-sm-12 col-md-4 justify-content-center">
                <h4>{{ product.friendly_name }}</h4>
                <p>{{ product.description }}</p>
                <p><strong>Code:</strong> {{ product.sku }}</p>
                <a class="black" href="{% url 'products' %}?category={{ product.category.name }}">
                    <strong>Category:</strong> {{ product.category.friendly_name }}
                </a>
                <hr class="h3-hr">
                <h4>Spec. Essentials</h4>
                <p><strong>Certification:</strong></p>
                <p><strong>Standard:</strong></p>
                <p><strong>Size:</strong></p>
                <p><strong>Material:</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-6">
                <div class="row justify-content-center">
                    <h4>Pricing</h4>
                </div>
                <div class="row justify-content-right">
                    <div class="col-9">
                        <p>Quantities</p>
                    </div>
                    <div class="col-3 justify-content-left">
                        <p>Prices</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6">
                <div class="row justify-content-center">
                    <h4>Ordering</h4>
                </div>
                <div class="row justify-content-right">
                    <div class="col-8">
                        <p>Quantity</p>
                    </div>
                    <div class="col-4 justify-content-left">
                        <button type="button" class="btn-std btn rounded-0">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
