{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Page Name -->
                {% if search_term %}
                    <h1>{{ search_term }}</h1>
                    <h5 class="text-center"><strong># of Products:</strong> {{ products|length }}</h5>
                {% else %}
                    {% for c in current_categories %}
                        <h1>{{ c.friendly_name }}</h1>
                        <h5 class="text-center"><strong># of Products:</strong> {{ products|length }}</h5>
                    {% endfor %}
                {% endif %}

                <!-- Sort Input -->
                <div  id="sort-input" class="mt-3">
                    <div class="sort-select-wrapper">
                        <select id="sort-selector" class="custom-select rounded-0 border">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_5_asc" {% if current_sorting == 'price_5_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_5_desc" {% if current_sorting == 'price_5_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        </select>
                    </div>
                </div>

                <hr class="h1-hr">

                <div class="row justify-content-center text-center m-1">
                    <p>Click the name to see full product details or if you're in a hurry, click "Add" and choose your quantity at checkout.</p>
                </div>

            </div>
        </div>


        <!-- Products Section -->
        <div class="row">
            <div class="product-container col-10 offset-1">

                <div class="row mt-1 mb-2">
                </div>

                <!-- Products Cards -->
                <div class="row">
                    {% for product in products %}
                        <div class="col=sm-12 col-md-6 col-lg-4">
                            <div class="card h-100 border-0 beige-bg">

                                <a href="{% url 'product_info' product.id %}">
                                    <!-- Card Top - Image -->
                                    <img class="card-img-top img-fluid shadow" src="{{ product.image1.url }}" alt="{{ product.friendly_name }}">
                                
                                    <!-- Card Body - Name -->
                                    <div class="card-body text-center">
                                        <h5 class="mb-0">{{ product.friendly_name }}</h5>
                                    </div>
                                </a>

                                <!-- Card Body - Pricing & Category -->
                                <div class="card-footer pt-0 border-0 text-left beige-bg">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <p class=""><strong>Code:</strong> {{ product.sku }}</p>
                                            </div>
                                            <div class="row">
                                                <p class="">
                                                    <a class="black" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <strong>Category:</strong> {{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                            </div>    
                                            <div class="row">
                                                <p class=""><strong>€/Unit:</strong> From €{{ product.price_5 }} to €{{ product.price_1 }}</p>
                                            </div>
                                            <div class="row justify-content-center">
                                                <form class="form w-auto mx-auto prod-info-input-form" method="POST" 
                                                      action="{% url 'add_to_cart' product.id %}" name="numberForm">
                                                    {% csrf_token %}
                                                    <div class="form-row">
                                                        <!-- Input Field -->
                                                        <input class="form-control qty_input" type="hidden"
                                                            name="quantity" value="{{ product.qty_1 }}">
                                                        
                                                        <!-- Submit Button -->
                                                        <div class="mx-auto mt-3">
                                                            <button type="submit" class="btn-std btn rounded-0 mx-auto">
                                                                Quick Add
                                                                <span class="icon">
                                                                    <i class="fas fa-plus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                   
                                                        <!-- Redirects User back to the same product page once product added -->
                                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                    </div>   
                                                </form> 
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="h2-hr">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="my-3">
            <p class="ml-3 small">*Prices shown are exlcusive of VAT</p>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <!-- Products Sorting Fn -->
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort1 = selectedVal.split("_")[0];
                var sort2 = selectedVal.split("_")[1];
                var sort = sort1 + "_" + sort2
                var direction = selectedVal.split("_")[2];
                console.log("Sort", sort)
                console.log("Direction", direction)

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
