{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Page Name -->
                <h1 class="text-center mt-1">{{ product.name }}</h1>
                <hr class="h1-hr">
            </div>
        </div>

        <!-- Product Section -->
        <div class="row">
            <!-- Image -->
            <div class="col-sm-10 col-md-8">
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid shadow" src="{{ product.image1.url }}" alt="{{ product.friendly_name }}">
                </a>
            </div>
            <!-- Product Info -->
            <div class="col-sm-10 col-md-4">
                <h3>Product Name: {{ product.name }}</h3>
                <p>Code: {{ product.sku }}</p>
                <a class="black" href="{% url 'products' %}?category={{ product.category.name }}">
                    <strong>Category:</strong> {{ product.category.friendly_name }}
                </a>
                <br><br>
                <h3>Spec. Essentials</h3>
                <p>Certification:</p>
                <p>Standard:</p>
                <p>Size:</p>
                <p>Material:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-6">
                <div class="row">
                    <h3>Pricing</h3>
                </div>
                <div class="row">
                    <div class="col-9">
                        <p>Quantities</p>
                    </div>
                    <div class="col-3">
                        <p>Prices</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6">
                <div class="row">
                    <h3>Ordering</h3>
                </div>
                <div class="row">
                    <div class="col-9">
                        <p>Quantity</p>
                    </div>
                    <div class="col-3">
                        <p>Add Button</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Description</h3>
            <p>{{ product.description }}</p>
        </div>

{% endblock %}
